{{!-- create-form.hbs --}}
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 ">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="bg-blue-100 rounded-2xl max-w-3xl mx-auto shadow-xl px-10 py-10 my-20">
    <!-- Content goes here -->
    <form action="/rooms/create" method="POST" >
      <div class="bg-blue-100 px-4 py-5 border-b border-gray-200 sm:px-6">
        <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
          <div class="ml-4 mt-2">
            <h3 class="text-5xl leading-6 font-extrabold text-slate-800">New Room</h3>
          </div>
          <div class="ml-4 mt-2 flex-shrink-0">
            <button type="submit" class="relative inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-xl font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Create room</button>
          </div>
        </div>
      </div>
      <div class="mt-6">
            
              
              <div class="flex place-content-between">
                <span class="w-1/2 mr-10" >
                  <label for="name" class="block text-sm font-medium text-gray-700"> Name </label>
                  <div class="mt-1">
                    <input id="name" name="name" type="text" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  </div>
                </span>
                <span class="w-1/2">
                  <label for="location" class="block text-sm font-medium text-gray-700"> Location </label>
                  <div class="mt-1">
                    <input id="location" name="location" type="text" required class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  </div>
                </span>
              </div>

              <div class="flex place-content-between">
                <span>
                  <label for="beds" class="text-sm font-medium text-gray-700"> Beds </label>
                  <div class="mt-1">
                    <input id="beds" name="beds" type="number" min="1" value="1" required class="appearance-none w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  </div>
                </span>
                <span>
                  <label for="guest" class="text-sm font-medium text-gray-700"> Guests </label>
                  <div class="mt-1">
                    <input id="guest" name="guest" type="number" min="1" value="1" required class="appearance-none w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  </div>
                </span>
                <span>
                  <label for="price" class="block text-sm font-medium text-gray-700">Price</label>
                    <div class="mt-1 relative rounded-md shadow-sm">
                      <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                        <span class="text-gray-500 sm:text-sm"> $ </span>
                      </div>
                      <input type="number" name="price" id="price" class=" appearance-none focus:ring-indigo-500 focus:outline-none focus:border-indigo-500 block w-full h-9 pl-7 pr-12 sm:text-sm border-gray-300 rounded-md shadow-sm" placeholder="0.00" aria-describedby="price-currency">
                      <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                        <span class="text-gray-500 sm:text-sm" id="price-currency"> MXN </span>
                      </div>
                    </div>
                </span>
                
              </div>

              <div class="space-y-1">
                <label for="description" class="block text-sm font-medium text-gray-700"> Description </label>
                <div class="mt-1">
                  <textarea id="description" name="description" type="text" maxlength="200" required Placeholder="Only 200 characters" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"></textarea>
                </div>
              </div>
              <div class="space-y-1">
                <label for="image" class="block text-sm font-medium text-gray-700"> Image </label>
                <div class="mt-1">
                  <input id="image" name="image" type="text" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
                </div>
              </div>
              <hr>
      </div>
    </form>
  </div>
</div>