{{!-- layout.hbs --}}
<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{title}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
      <script src="http://cdn.tailwindcss.com/"></script>
   </head>

   <body>

      <!-- This example requires Tailwind CSS v2.0+ -->
<div class="relative bg-slate-800">
  <div class="flex justify-between items-center px-4 py-6 sm:px-6 md:justify-start md:space-x-10">
    <div>
      <a href="#" class="flex">
        <span class="sr-only">Workflow</span>
        <img class="h-8 w-auto sm:h-10" src="https://img.icons8.com/fluency/96/000000/4-star-hotel.png" alt="">
      </a>
    </div>
    {{!-- <div class="-mr-2 -my-2 md:hidden">
      <button type="button" class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
        <span class="sr-only">Open menu</span>
        <!-- Heroicon name: outline/menu -->
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div> --}}
    <div class="hidden md:flex-1 md:flex md:items-center md:justify-between">
      <nav class="flex space-x-10">
        <a href="/rooms" class="text-base font-medium text-gray-100 hover:text-gray-300"> Rooms </a>
        
      </nav>
      <div class="flex items-center md:ml-12">
        <a href="/auth/login" class="text-base font-medium text-gray-100 hover:text-gray-300"> Log in </a>
        <a href="/auth/signup" class="ml-8 inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700"> Sign up </a>
      </div>
    </div>
  </div>
</div>



      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>